# CONFIGURACIÓN ESENCIAL FUELOPTIMINE
PROJECT_ROOT=/mnt/d/Develop/FuelOptiMine

# CLICKHOUSE
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=msc_user1
CLICKHOUSE_PASSWORD=msc_user1_password
CLICKHOUSE_DB=fuel_optimine

# POSTGRESQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=msc_user2_admin
POSTGRES_PASSWORD=msc_user2_password
POSTGRES_DB=fuel_optimine

# MLFLOW
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_BACKEND_STORE_URI=postgresql://msc_user2_admin:msc_user2_password@localhost:5432/fuel_optimine
MLFLOW_HOST=0.0.0.0
MLFLOW_PORT=5000

# STREAMLIT
STREAMLIT_SERVER_PORT=8501