# Virtual environment
fueloptimine-env/
venv/
env/
.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/

# Data (if you want to exclude it)
data-set/**/*.csv
data-set/**/*.xlsx
data-set/**/*.parquet
data-set/**/*.json
data-set/**/*.pkl
*.csv

# Saved model (heavy files)
model/predictive/**/registry/*
*.h5
*.pkl
*.model
*.joblib
*.pt
*.pth

# Saved model (heavy files)
mlruns/
mlartifacts/

# Logs and reports
*.log
logs/
reports/
analytics/reports/*.pdf
analytics/reports/*.xlsx

# Local configuration that should not be shared
config/local.py
config/secrets.toml
config/credentials.yaml
*.env

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE files
.idea/
.vscode/
*.swp
*.swo
.vs/
*.sublime-workspace
*.sublime-project

# Temp files
.tmp/
.temp/
tmp/
temp/

# Testing files
.coverage
htmlcov/
.pytest_cache/
tests/temp/
.tox/

# especific files configuration
backend/api/keys/
backend/api/config/secrets.json

# database files
backend/database/db.sqlite3

# Ignorar comprimidos
clickhouse/*.tar.gz

# ignore binary files
*.bin
*.deb
*.dll
*.so
*.dylib

# mlflow
mlflow_server/backend/
mlflow_server/artifacts/
mlflow_server/logs/