body {
    background-color: DeepSkyBlue;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1, div, a {
    /* cidsi{comienza_la_competencia}*/
    color: white;
    font-size: 3rem;
}
